{% extends "book_register/base.html" %}

{% block content %}

<table class="table table-borderless" style="width:100%">

    <thead class="border-bottom font-weight bold">
        <tr>
            <td width="18%">Name</td>
            <td width="10%">Contact</td>
            <td width="34%">Book</td>
            <td width="13%">Start Borrow</td>
            <td width="13%">End Borrow</td>
            <td width="14%">
                <a href="{% url 'book_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for book in book_list%}
        <tr>
            <td>{{book.name}}</td>
            <td>{{book.contact}}</td>
            <td>{{book.book}}</td>
            <td>{{book.start_date}}</td>
            <td>{{book.end_date}}</td>
            <td>
                <a href="{% url 'book_update' book.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'book_delete' book.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor%}
    </tbody>

</table>

{% endblock content %}